.mainPaper{
    
         width: 30%; 
          background-color: #2D2D2D !important;
         color: white  !important; 
         margin: auto;
         height: 600px;     
}
.mainDivContainer{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    padding: 2%;      
}
.gridContainer{
    width: 95% !important;
    margin: auto !important;
    
}
.btnDiv{
    width: 98%;
    text-align: end;
    margin-top: -70px;
     
}